<!doctype html>
<html xmlns="http://thymeleaf.org/" lang="en">

<head th:insert="~{index::head}"></head>

<body>
    <head th:insert="~{index::navbar}"></head>

    <div th:if="~{param.notAuthorized}">
        <div class="alert alert-danger">
            Not authorized!
        </div>
    </div>

    <div th:if="${successMessage}" class="alert alert-success text-center">
        <div th:text="${successMessage}"></div>
    </div>
    
    <article class="container-fluid">
        <section class="row ms-5 vh-100 align-items-center">
            <div class="col-10">
                <h1 class="mb-5">Welcome to <span class="display-4 fw-bold d-block">Aulab Chronicles</span></h1>
            </div>
        </section>
    </article>
    <head th:insert="~{index::footer}"></head>
    <script th:replace="~{index::bootstrapScript}"></script>
</body>
</html>